language: python

python:
  - "3.5"
  - "3.6"

install:
    - pip install -r requirements-test.txt
    - pip install coveralls

before_script:
    - flake8 --ignore=E501 simple_model

script:
    - py.test
    - mypy simple_model

after_script:
    - coveralls
